@font-face {
  font-family: "Mad Hacker";
  src: local("MAD Hacker"), local("MadHacker-YYqv"), local("MadHacker-Yjz8"),
    url(./src/assets/fonts/mad_hacker/MadHacker-YYqv.ttf);
}

@font-face {
  font-family: "Doctor Glitch";
  src: local("Doctor Glitch"),
    url(./src/assets/fonts/doctor_glitch/Doctor_Glitch.otf);
}

@font-face {
  font-family: "New Kind Of English";
  src: local("NEW KIND OF ENGLISH"), local("NewKindOfEnglish-246l"),
    url(./src/assets/fonts/new_kind_of_english/NewKindOfEnglish-246l.ttf);
}

@font-face {
  font-family: "Cf Glitch City";
  src: local("CF Glitch City"), local("CFGlitchCity-Regular"),
    url(./src/assets/fonts/cf_glitch_city/CFGlitchCity-Regular.ttf);
}

@keyframes changing-cards {
  0% {
    box-shadow: -0.7rem -0.7rem var(--c-primary), 0.7rem 0.7rem var(--c-primary);
  }
  50% {
    box-shadow: 0.7rem -0.7rem var(--c-primary), -0.7rem 0.7rem var(--c-primary);
  }
  100% {
    box-shadow: 0.7rem 0.7rem var(--c-primary), -0.7rem -0.7rem var(--c-primary);
  }
}

:root {
  /* Colors */
  --c-primary: hsl(0, 0%, 100%);
  --c-secondary: hsl(0, 0%, 10%);
  --c-tertiary: hsl(0, 0%, 0%);
  /* Font-Size */
  --f-14: 1.4rem;
  --f-16: 1.6rem;
  --f-18: 1.8rem;
  --f-24: 2.4rem;
  --f-36: 3.6rem;
  --f-72: 7.2rem;
}

::selection {
  background-color: var(--c-primary);
  color: var(--c-tertiary);
  text-shadow: var(--c-primary) 0.1rem 0.1rem;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  background: transparent;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  padding: 2rem 1.6rem;
  background-color: var(--c-secondary);
  color: var(--c-primary);
  font-family: "Mad Hacker";
  font-size: var(--f-16);
  text-transform: uppercase;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: var(--f-36);
  font-family: "Doctor Glitch";
  letter-spacing: 0.2em;
}

#graphic {
  position: absolute;
  right: 0;
  top: 14rem;
  mix-blend-mode: color-dodge;
  z-index: -1;
}

#hero-container {
  min-height: 60.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 0 6rem;
  background-color: hsla(0, 0%, 0%, 0.15);
  border-radius: 12.5rem 0;
  box-shadow: 0 0.4rem 5rem hsla(0, 0%, 0%, 0.25);
}

#hacked-msg {
  position: absolute;
  top: 30rem;
}

#hacked-word {
  font-family: "New Kind Of English";
}

.link-button {
  color: inherit;
  font-size: var(--f-14);
  line-height: 2.4rem;
  box-shadow: -0.5rem -0.5rem var(--c-primary), 0.5rem 0.5rem var(--c-primary);
  padding: 1.8rem 2.4rem;
}

.link-button:hover {
  cursor: crosshair;
  animation: changing-cards 2s infinite;
  transition: 1s ease-in-out;
  color: var(--c-tertiary);
  background-color: var(--c-primary);
}

.link-button:active {
  cursor: wait;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  body {
    font-size: var(--f-24);
    padding: 7rem 2.4rem;
  }

  h1 {
    font-size: var(--f-72);
  }

  #hero-container {
    min-height: 90.5rem;
    border-radius: 15.5rem 0;
  }

  #hacked-msg {
    top: 53.5rem;
  }


  .link-button {
    font-size: var(--f-18);
  }
}

/* Desktop */
@media only screen and (min-width: 1024px) {
  body {
    padding: 17.2rem 14.4rem;
  }

  h1 {
    white-space: nowrap;
  }

  #graphic {
    left: 1.6rem;
  }

  #hero-container {
    min-height: 40.5rem;
    min-width: 115rem;
    justify-content: space-between;
    padding: 3.95rem;
  }

  #hacked-msg {
    position: initial;
    order: -1;
  }

  .link-button {
    position: absolute;
    top: 75rem;
  }
}